<h1>Listing favoritos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favoritos.each do |favorito| %>
  <tr>
    <td><%= favorito.nome %></td>
    <td><%= favorito.link %></td>
    <td><%= link_to 'Show', favorito %></td>
    <td><%= link_to 'Edit', edit_favorito_path(favorito) %></td>
    <td><%= link_to 'Destroy', favorito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favorito', new_favorito_path %>
